<div class="container">
  <h1 xmlns="">{{title}}</h1>

  <hr class="style1">
  <br>
  <table class="table table-hover" ng-app="myApp" ng-controller="customersCtrl">
    <th>ID</th>
    <th>USER</th>
    <th>VEHICLE</th>
    <th>DATE</th>
    <th>ACTIONS</th>
    <tbody>
    <tr *ngFor="let log of logs" [class.selected]="logs === selectedLogs">
      <td>{{log.id}}</td>
      <td>{{log.userId}}</td>
      <td>{{log.vehicleId}}</td>
      <td>{{log.date}}</td>
      <td>
        <button (click)="gotoDetail(log)" class="btn"><span class="glyphicon glyphicon-pencil"></span></button>
        <button (click)="delete(log); $event.stopPropagation()" class="btn"><span
          class="glyphicon glyphicon-trash"></span></button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="form-inline">
    <label>New Log:</label>
    <input class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="User id.." #userId/>
    <input class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Vehicle id.." #vehicleId/>
    <button (click)="refresh()" (click)="add(userId.value,vehicleId.value); userId.value=''; vehicleId.value=''"
            class="btn"><span class="glyphicon glyphicon-plus"></span> Add
    </button>


  </div>
</div>

